mx.scratch
!.settings
*.launch

build/
*.o
*.obj
*.elf
*.bin
*.hex
*.map

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.cache/

.DS_Store
Thumbs.db